include README.rst
include LICENSE.txt
include MANIFEST.in
include tests/test_*.py
include examples/*.py
include queueing_tool/__init__.py
include queueing_tool/network/*.py
include queueing_tool/network/priority_queue.pyx
include queueing_tool/network/priority_queue.c
include queueing_tool/graph/*.py
include queueing_tool/queues/*.py
include queueing_tool/queues/choice.pyx
include queueing_tool/queues/choice.c
