include README
include VERSION
include LICENSE
include MANIFEST.in
include tests/test_*.py
include examples/*.py
include queueing_tool/__init__.py
include queueing_tool/network/*.py
include queueing_tool/network/sorting.pyx
include queueing_tool/network/sorting.c
include queueing_tool/generation/*.py
include queueing_tool/queues/*.py
include queueing_tool/queues/choice.pyx
include queueing_tool/queues/choice.c
